body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 33%; /* Adjust as needed */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it appears above other content */
}
